*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


#blur{
  position: relative;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header{
  text-align: center;
  margin-top: 20px;
}

h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: 35px;
  font-weight: 700;
  color: rgb(20, 10, 44);
}
/** CLOCK **/

.clock{
    margin-top: 50px;
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 250px;
}

.clock::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: #c66fc9;
    border-radius: 50%;
}
.num{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.num1{
    transform: rotate(30deg);
}

.num1 div{
    transform: rotate(-30deg);
}

.num2{
    transform: rotate(60deg);
}

.num2 div{
    transform: rotate(-60deg);
}

.num3{
    transform: rotate(90deg);
}

.num3 div{
    transform: rotate(-90deg);
    color: #c66fc9;
    font-size: 2.5rem;
}

.num4{
    transform: rotate(120deg);
}

.num4 div{
    transform: rotate(-120deg);
}

.num5{
    transform: rotate(150deg);
}

.num5 div{
    transform: rotate(-150deg);
}

.num6{
    transform: rotate(180deg);
}

.num6 div{
    transform: rotate(-180deg);
    color: #c66fc9;
    font-size: 2.5rem;
}

.num7{
    transform: rotate(210deg);
}

.num7 div{
    transform: rotate(-210deg);
}

.num8{
    transform: rotate(240deg);
}

.num8 div{
    transform: rotate(-240deg);
}

.num9 {
    transform: rotate(270deg);
}

.num9 div{
    transform: rotate(-270deg);
    color: #c66fc9;
    font-size: 2.5rem;
}

.num10{
    transform: rotate(300deg);
}

.num10 div{
    transform: rotate(-300deg);
}

.num11{
    transform: rotate(330deg);
}

.num11 div{
    transform: rotate(-330deg);
}

.num12 div{
    color: #c66fc9;
    font-size: 2.5rem;
}

.splash{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height:100vh ;
  z-index: 100;
  text-align: center;
  font-family: cursive;
  transition: all 0.5s ease-in;
  background: linear-gradient(90deg, rgb(8, 5, 37), #070b2c);
}

.splash h1{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  font-weight: 600;
  font-size: 34px;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes fadeIn{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.splash.none{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height:100vh ;
  z-index: 100;
  text-align: center;
  font-family: cursive;
  background: linear-gradient(90deg, rgb(8, 5, 37), #070b2c);
  opacity: 0;
  transition: all 1s ease-out;
  visibility: hidden;
}



.hand{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.hand div{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background:#c66fc9;
    border-radius: 6px 6px 0 0;
}

.hr{
    width: 8px;
    height: 28%;
}

.mn{
    width: 4px;
    height: 38%;
}

.hand .sc{
    width: 2px;
    height: 40%;
}



p,
button {
  font-weight: bold;
}

/***** TEXT SECTION *****/
/** ClOCK  SECTION**/
.clock-text {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-top: 50px;
  text-align: center;
  height: 100vh;
}

.clock-text__h2 {
  font-size: 33px;
  color: #150533;
  font-family: cursive;
  margin-bottom: 1rem;
}

.addbtn{
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
}

#time{
  position: fixed;
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center; 
  max-width: 600px;
  min-width: 400px;
	height: 300px;
	top: 40%;
  left: 50%;
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
	transform: translate(-50%, -50%);
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}

#time.active{
  z-index: 1000;
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

#time h1{
 font-size: 60px;

}

#time select{
  padding: 5px;
  margin: 5px;
  outline: none;
}

#setalarm{
  margin: 20px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: rgb(11, 11, 54);
  color: #fff;
}

#options{
  display: none;
}

#alarm{
  margin-top: 20px;
}

.alarm{
  display: flex;
  justify-content: flex-start;
  margin:2px;
  font-family: cursive;
  margin-top: 10px;
  font-size: 25px;
  color: rgb(92, 88, 88);
}

#clock_time{
  font-size: 33px;
  font-weight: 300;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 10px;
  color: #5e0e53;
}


@media(max-width: 720px){

  #blur{
      width: 100vw;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .clock{
    margin-top: 50px;
    width: 250px;
    height: 250px;
}

.addbtn{
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
}
.hr{
  width: 6px;
  height: 20%;
}

.mn{
  width: 3px;
  height: 30%;
}

.hand .sc{
  width: 1px;
  height: 34%;
}

.num{
  font-size: 1rem;
  font-weight: 600;
}

.num12 div{
  font-size: 1.5rem;
}

.num9 div{
  font-size: 1.5rem;
}

.num6 div{
  font-size: 1.5rem;
}

.num3 div{
  font-size: 1.5rem;
}

/* #options{
  display: block;
} */
}